* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

main {
  margin-top: #{fluid(68px, 151px)};

  @include mq(lg) {
    margin-top: 0;
  }
}

img {
  display: block;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
button,
input,
textarea,
label {
  font-family: $primary-font;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: $secondary-color;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: $neutral-color-1;
  border-radius: 0;
}
